<form method="post" action="{{ path('app_sim_number_delete', {'id': sim_number.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sim_number.id) }}">
    <button class="btn">Delete</button>
</form>
